html {
    font-size: 16px;
}

body {
    font-family: "Roboto";
    margin: 0;
    background-color: #D8EEFE;
}

h1 {
    font-size: 64px;
    line-height: 76px;
    color: #094067;
}

.section_filtering {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filtering_form {
    display: flex;
    flex-direction: column;
    margin-right: 13px;
}

.filtering_form label {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #094067;
    padding-bottom: 13px;
}

.filtering_form select {
    padding-right: 20px;
}

.filtering_input {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #5F6C7B;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
}

.section_filtering button {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFE;
    padding: 15px 18px;
    background: #EF4565;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 12px;
}

div.container {
    padding: 15px;
}

tr {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    place-items: center center;
    gap: 20px;
    background: #FFFFFE;
    border-radius: 5px;
    margin-top: 47px;
    padding-left: 43px;
    padding-top: 22px;
    padding-bottom: 23px;
}

td img {
    width: 100px;
    border-radius: 50%;
}

td button {
    background: none;
    border: none;
    cursor: pointer;
}

td svg {
    height: 25px;
    color: #ff8e3c;
}

svg:hover {
    color: #d9376e;
}

.popup,
div.popup {
    outline: 0 none;
    position: fixed !important;
    top: 10% !important;
    background: gray;
    box-shadow: 2px 5px 5px gray;
    top: 50%;
    left: 30%;
    --opacity: 0;
    opacity: var(--opacity);
    padding: 3rem;
}

.popup.open,
.deletepopup.open {
    --opacity: 1;
    pointer-events: all;
}

p {
    color: #000000;
    font-size: 18px;
    padding-inline-start: 2rem;
}

ul.buttonDelt {
    display: flex;
    flex-direction: row;
}

ul.buttonDelt li {
    margin-inline-start: 1rem;
}

.form li {
    display: flex;
    flex-direction: column;
}

.form li:not(:nth-child(1)) {
    margin-block-start: 1rem;
}

@media(min-width:768px) {
    .section_filtering {
        display: grid;
        grid-auto-flow: column;
        /* grid-template-columns: repeat(3, minmax(100px, 1fr)); */
        place-items: center center;
        gap: 20px;
        align-items: end;
    }
    .filtering_form {
        margin-right: 0;
    }
}

@media(min-width: 1114px) {
    div.container {
        max-width: 1114px;
        margin: auto;
    }
}