@font-face {
    font-family: 'Rubik';
    font-weight: normal;
    font-style: normal;
    src: url(./fonts/rubik.woff2) format('woff2'), url(./fonts/rubik.woff) format('woff');
}

html {
    font-size: 16px;
}

body {
    font-family: "Rubik";
    margin: 0;
    background-color: #D8EEFE;
}

h1 {
    font-size: 32px;
    line-height: 32px;
    color: #094067;
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

div.container {
    padding-left: 15px;
    padding-right: 15px;
}

header>.header_container {
    padding-bottom: 0;
    padding-top: 63px;
}

main>.main_container {
    padding-top: 42px;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

h3 {
    margin: 0;
}

h5 {
    font-size: 1.2em;
}

.parent {
    display: flex;
    flex-direction: column;
    gap: 31px;
    padding-top: 47px;
    .list_container {
        display: flex;
        flex-direction: column;
        background-color: #FFFFFE;
        padding-top: 22px;
        padding-left: 43px;
        padding-right: 25px;
        padding-bottom: 23px;
        border-radius: 5px;
        .img_container {
            width: 92px;
            height: 94px;
            img {
                border-radius: 5px;
                width: 100%;
            }
        }
        .list_item {
            display: flex;
            flex-direction: column;
            .name {
                font-weight: 500;
                font-size: 22px;
                line-height: 28px;
                color: #000000;
            }
            .birthday {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #5F6C7B;
                padding-top: 10px;
                b {
                    color: #EF4565;
                }
            }
            .future_birthday {
                font-size: 18px;
                line-height: 22px;
                color: #5F6C7B;
                font-weight: 500;
            }
        }
    }
    .button_container {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        button {
            background: none;
            svg {
                height: 30px;
                width: 30px;
            }
        }
        .delete svg {
            color: red;
        }
    }
}

.section_filtering {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .filtering_form {
        display: flex;
        flex-direction: column;
    }
    label {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #094067;
        padding-bottom: 13px;
    }
    select {
        padding-right: 20px;
    }
    .filtering_input {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #5F6C7B;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 5px;
        outline: none;
        border: none;
    }
    .add_btn {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFE;
        padding: 15px 18px;
        background: #EF4565;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 5px;
        margin-top: 12px;
    }
    .add_btn:hover {
        background-color: #f31039;
    }
}

.popup.open {
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    width: 100vw;
    height: 10000vh;
    display: block;
    transition: all 0.25s;
    top: 0;
    .fieldset_delete {
        background-color: white;
        max-width: 400px;
        margin: auto;
        margin-top: 200px;
        h5 {
            b {
                color: #EF4565;
            }
        }
        button {
            padding: 1rem 2rem;
            border-radius: 5px;
            font-family: 'Rubik';
            font-size: 18px;
            line-height: 22px;
            font-weight: bold;
        }
        .remove {
            background-color: #EF4565;
            color: white;
        }
        .remove:hover {
            background-color: #f51d44;
        }
        .cancel {
            margin-left: 20px;
        }
        .cancel:hover {
            background-color: #EF4565;
            color: white;
        }
    }
    .content {
        border-radius: 5px;
        background-color: white;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-top: 3rem;
        margin: auto;
        form {
            width: 375px;
            margin: auto;
        }
        .btn_container {
            padding-top: 46px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            button {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                border-radius: 5px;
                padding-top: 14px;
                padding-bottom: 15px;
                padding-left: 21px;
                padding-right: 16px;
                width: 50%;
            }
            button.submit {
                background: #EF4565;
                color: #FFFFFE;
            }
            button.cancel {
                color: #5F6C7B;
                background: #FFFFFF;
                border: 2px solid #5F6C7B;
                box-sizing: border-box;
                border-radius: 5px;
            }
            button.cancel:hover {
                background: #EF4565;
                color: #FFFFFE;
            }
        }
        fieldset {
            display: flex;
            flex-direction: column;
            border: none;
            padding-top: calc(27px - 11px);
            padding-left: 0;
            max-width: 265px;
            input,
            label {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #094067;
            }
            input {
                padding-left: 20px;
                padding-top: 15px;
                padding-bottom: 14px;
                background: #D8EEFE;
                border-radius: 5px;
                border: none;
                outline: none;
            }
            label {
                padding-top: 11px;
                padding-bottom: 8px;
            }
        }
    }
}

@media(min-width:768px) {
    h1 {
        font-size: 64px;
        line-height: 76px;
    }
    .popup.open .content {
        max-width: 1079px;
        .btn_container {
            flex-wrap: nowrap;
        }
    }
    .parent {
        .list_container {
            flex-direction: row;
            .list_item {
                .name {
                    font-size: 36px;
                    line-height: 43px;
                }
                .birthday {
                    font-size: 24px;
                    line-height: 28px;
                    white-space: nowrap;
                }
                .future_birthday {
                    font-size: 24px;
                    line-height: 28px;
                }
            }
            .title_container {
                padding-left: 39px;
                margin-right: auto;
            }
            .daysleft {
                white-space: nowrap;
            }
        }
    }
    .section_filtering {
        display: grid;
        grid-auto-flow: column;
        gap: 35px;
        align-items: end;
    }
    .filtering_form {
        margin-right: 0;
    }
    .parent {
        .button_container {
            padding-top: 38px;
            padding-left: 42px;
        }
    }
}

@media(min-width: 1114px) {
    div.container {
        max-width: 779px;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }
}