@font-face {
    font-family: 'Rubik';
    font-weight: normal;
    font-style: normal;
    src: url(./fonts/rubik.woff2) format('woff2'), url(./fonts/rubik.woff) format('woff');
}

html {
    font-size: 16px;
}

body {
    font-family: "Rubik";
    margin: 0;
    background-color: #D8EEFE;
}

h1 {
    font-size: 64px;
    line-height: 76px;
    color: #094067;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

div.container {
    padding: 15px;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.parent {
    display: flex;
    flex-direction: column;
    gap: 31px;
    padding-top: 47px;
    .list_container {
        display: flex;
        // flex-direction: column;
        // gap: 10px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        background-color: #FFFFFE;
        padding-top: 22px;
        padding-left: 43px;
        padding-right: 25px;
        padding-bottom: 22px;
        border-radius: 5px;
        img {
            width: 92px;
            height: 94px;
            border-radius: 5px;
        }
        .list_item {
            display: flex;
            flex-direction: column;
            .name {
                font-weight: 500;
                font-size: 36px;
                line-height: 43px;
                /* identical to box height */
                color: #000000;
            }
            .birthday {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #5F6C7B;
                padding-top: 10px;
                b {
                    color: #EF4565;
                }
            }
            .future_birthday {
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #5F6C7B;
            }
        }
    }
    .button_container {
        display: flex;
        flex-direction: row;
        gap: 22px;
        button {
            background: none;
            svg {
                height: 20px;
                width: 27px;
            }
        }
        .delete svg {
            color: red;
        }
    }
}

.section_filtering {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .filtering_form {
        display: flex;
        flex-direction: column;
    }
    label {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #094067;
        padding-bottom: 13px;
    }
    select {
        padding-right: 20px;
    }
    .filtering_input {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #5F6C7B;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 5px;
        outline: none;
        border: none;
    }
    .add_btn {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #FFFFFE;
        padding: 15px 18px;
        background: #EF4565;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 5px;
        margin-top: 12px;
    }
}

.popup {
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: all 0.25s;
    top: 0;
    .content {
        border: 1px solid #eae7e7;
        border-radius: 5px;
        background-color: white;
        form {
            width: 70%;
            margin: auto;
        }
        fieldset {
            display: flex;
            flex-direction: column;
            border: none;
            input,
            label {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #094067;
            }
            input {
                padding-left: 20px;
                padding-top: 15px;
                padding-bottom: 14px;
                background: #D8EEFE;
                border-radius: 5px;
                border: none;
                outline: none;
            }
            label {
                padding-top: 11px;
                padding-bottom: 12px;
            }
            .btn_container {
                padding-top: 63px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 10px;
                button {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    border-radius: 5px;
                    padding-top: 12px;
                    padding-bottom: 11px;
                    padding-left: 20px;
                    padding-right: 16px;
                }
                button.submit {
                    background: #EF4565;
                    color: #FFFFFE;
                    width: 100%;
                }
                button.cancel {
                    color: #5F6C7B;
                    background: #FFFFFF;
                    border: 2px solid #5F6C7B;
                    box-sizing: border-box;
                    border-radius: 5px;
                    margin-left: 30px;
                }
                button.cancel:hover {
                    background: #EF4565;
                    color: #FFFFFE;
                }
            }
        }
    }
}

.reminder-par {
    font-weight: 500;
    font-size: 38px;
    line-height: 47px;
    color: #094067;
    padding: 0;
    padding-bottom: 26px;
    margin: 0;
}

.delete-popup-content .reminder-par {
    font-size: 20px;
    line-height: 25px;
}

.delete-popup-content ul {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.delete-popup-content .yes {
    background-color: blue;
    color: #FFFFFF;
}

.delete-popup-content button {
    padding: 12px 18px;
}

@media(min-width:768px) {
    .section_filtering {
        display: grid;
        grid-auto-flow: column;
        gap: 20px;
        align-items: end;
    }
    .filtering_form {
        margin-right: 0;
    }
    .popup .content {
        padding: 3rem;
    }
    .parent {
        .button_container {
            padding-top: 38px;
        }
    }
}

@media(min-width: 1114px) {
    div.container {
        max-width: 1114px;
        margin: auto;
    }
}